@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500&display=swap");

body,
h1,
h2,
h3,
ul,
li {
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 1rem;
}

body {
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    background: #fafafa;
    text-rendering: optimizeLegibility;
    color: #292929;
}

::selection {
    background: #b2cede;
}

a {
    color: #316e96;
    text-decoration: none;
    transition: color .25s ease;
}

a:hover {
    color: #5499c7cc;
}

a::selection {
    color: #292929;
    text-decoration-color: #316e96;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
}

a:focus {
    border: .25rem #d697ac solid inset;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    text-align: left;
}

li {
    list-style: none;
}

li+li {
    margin-left: .85rem;
}

section {
    max-width: 70ch;
    margin: 0 auto;
}

section+section {
    margin-top: 3rem;
}

header,
footer {
    padding: 15px 30px;
}

main {
    padding: 0 30px;
}

.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.desativarclick {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header div:nth-child(1) {
    display: flex;
    align-items: center;
}

header img {
    margin-right: 1rem;
    width: 2.5rem;
    height: 3.5rem;
}

.icone {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
}

.portfolio ul {
    display: flex;
    flex-direction: column;
    gap: 5ch;
}

.portfolio ul li {
    display: flex;
    flex-direction: column;
    gap: 2ch;
}

.portfolio ul li+li {
    margin-left: 0;
}

.portfolio-thumbnail {
    width: 100%;
    height: 100%;
    opacity: .93;
    background-color: #29AAE3;
}

.portfolio-thumbnail-link {
    display: block;
}

.portfolio-thumbnail-decorator {
    width: 360px;
    height: 230px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    border: lightgray solid 2rem;
}

.portfolio-thumbnail-decorator::after {
    content: '-';
    font-size: 3rem;
    font-family: fantasy;
    letter-spacing: 0.20em;
    position: relative;
    top: -20px;
    left: -1px;
    animation: blink 5s infinite;
}

@keyframes blink {
    0% {
        color: black;
    }

    30% {
        color: limegreen;
    }

    100% {
        color: limegreen;
    }
}

@-webkit-keyframes blink {
    0% {
        color: black;
    }

    30% {
        color: limegreen;
    }

    100% {
        color: limegreen;
    }
}

.portfolio p {
    margin-top: -10px;
    margin-bottom: -10px;
}

.contato a {
    display: inline-flex;
    border: 1px solid transparents;
}

.sobre div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.sobre img {
    opacity: .7;
    transition: all .25s ease;
    mix-blend-mode: multiply;
}

.sobre img:hover {
    opacity: 1;
}

footer {
    text-align: right;
}

footer img {
    width: 0.438rem;
    height: 0.375rem;
}

@media screen and (max-width:740px) {
    section {
        width: 100%;
    }

    p {
        font-size: .9rem;
    }

    a {
        color: #316e96;
        min-height: 2.5rem;
        min-width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a:active {
        border: 1px dashed #316e96;
    }

    .portfolio-thumbnail-decorator {
        transform: scale(0.5);
        margin-bottom: -75px;
        margin-left: -105px;
        margin-top: -75px;
    }


    footer {
        font-size: 0.85rem;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    h1 {
        font-size: 1.6rem;
    }

    header img {
        display: none;
    }

    .portfolio-thumbnail-decorator::after {
        display: none;
    }

    .icone {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width:400px) and (orientation: landscape) {
    .portfolio-thumbnail-decorator::after {
        display: none;
    }
}