body {
    margin: 0;
    height: 1000px;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
fieldset,
blockquote,
dd,
ul,
p {
    margin: 0;
}

ul {

    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

fieldset,
legend {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

img[src$=".jpg"] {
    border-radius: 4px;
}



.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}